body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table#zebra tr.odd {
  background-color: #fff;
}
table#zebra tr.even {
  background-color: #d3d3d3;
}
